@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;600;700;900&display=swap');

:root {
    --color-primeiro:   #000000;
    --color-segundo:    #B2BB6C;
    --color-terceiro:   #FFFFFF;
    --color-quarto:     #C9F0ED;
    --color-quinto:     #C5C5C5;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    min-height: 100%;
    background-color: #E2A391;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.app {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app .card {
    position: relative;
    width: 700px;
    height: 350px;
    padding: 50px;
    background-color: var(--color-terceiro);
    border-radius: 3px;
    box-shadow: 1px 1px 40px #0000002a;
}
.app .card .card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.app .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    margin-top: 10px;
}
.app .card .card-body form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.app .card .card-body form .formgroup {
    position: relative;
    width: 100%;
}
.app .card .card-body form .formgroup .form-control {
    width: 100%;
    height: 35px;
    padding: 6px;
    padding-left: 10px;
    font-size: 0.8rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
.app .card .card-body form .w-100 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.app .card-body form .w-100 .btn-send {
    width: 120px;
    min-height: 40px;
    padding: 10px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.app .card-body form .w-100 .btn-send:hover {
    background-color: #c0c0c0;
    border: none;
}

.itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.itens .item {
    min-width: 150px;
    min-height: 100px;
    padding: 10px;
    border-radius: 3px;
    /* background-color: red; */
}
.itens .item .item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.itens .item .item-header i {
    font-size: 50px;
}
.itens .item .item-body {
    width: 100%;
    padding: 10px;
}
.itens .item .item-body p {
    margin-bottom: 10px;
    text-align: center;
}
.itens .item .item-body .p-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: yellow; */
}
.itens .item .item-body .p-container svg {
   width: 20px;
   height: 20px;
}
.success > .item-body .p-container svg .p-1 {
    fill: #09aa09;
}
.success > .item-body .p-container svg .p-2 {
    fill: #09aa09;
}